Django>=5.1.4,<5.2
pytest>=8.3.4,<8.4
pytest-cov==6.0.0
pytest-django==4.10.0
pytest-sugar==1.0.0
python-dotenv>=1.0.1,<1.1
psycopg2>=2.9.10,<3.0
django-crispy-forms>=2.3,<2.4
crispy-bootstrap5>=2024.10,<2024.11
requests>=2.32.3,<2.33
django-utils-six==2.0