<ul class="navbar-nav ms-auto">


    &nbsp;     &nbsp;     &nbsp;

    {% if not user.is_authenticated %}
    <li class="nav-item">

      <a class="btn btn-secondary navbar-btn" type="button"  href="#">Register</a>

    </li>
    {% endif %}


    &nbsp;     &nbsp;     &nbsp;


    <li class="nav-item">

      {% if user.is_authenticated %}

        <a class="btn btn-secondary navbar-btn" type="button"  href="#">
          Logout
        </a>

      {% else %}

        <a class="btn btn-secondary navbar-btn" type="button"  href="#">
          Login
        </a>

      {% endif %}

    </li>

  </ul>
